* {
    box-sizing: border-box;
}

html {
    font-size: 66.66%;
    margin: 0;

}

body {
    padding: 0 0 0 0;
    margin: 0;
    background: rgb(59, 1, 46);
}

img {
    width: 100%;
}



.navbar {
    font-size: 2rem;

    color: white;
    background: #d9005b;

    display: flex;
    flex-direction: row;

    align-items: center;

    width: 100%;
    height: 120px;

    margin: 0;
}

.navbar h1 {
    margin: 0;
}

.nav {



    width: 80%;
    height: 100%;
    background: rgba(0, 0, 0, 0.445);
    position: absolute;
    left: -80%;
    top: 0;
    transition: 0.3s;

    z-index: 40;
}

.nav ul {
    margin: 100px 0;
    font-size: 4rem;
    width: 100%;
    padding: 0;
    text-align: center;
    list-style: none;
}

.nav ul li {
    color: black;
    background: white;

    margin: 20px;
    transition: 0.3s;
}

.nav ul li:hover {

    color: white;
    background: #d9005b;
}


#exitButtonMenu {
    font-size: 4rem;
    position: absolute;
    background: rgb(0, 0, 0);
    color: white;
    border: none;
    width: 80px;
    height: 80px;
    text-align: center;
    right: 10%;
    top: 10px;
}

.nav_active {
    left: 0;
}

.header {
    width: 100%;
    height: auto;
    position: relative;
}

.man-black {
    left: 0;
    top: 15%;
    width: 50%;
    position: absolute;
    z-index: 10;
}

.title-container {
    font-size: 1.4rem;

    left: 50%;
    top: 20%;

    position: absolute;
    width: 35%;
    height: 30vw;
    background: white;
    z-index: 20;
}

.text-container {
    margin-top: 10px;
    position: relative;
}

.text-container h1 {
    margin: 0;
}

.perfect {
    font-size: 2.5rem;
    position: absolute;
    color: rgb(83, 123, 255);
    top: -45%;
    left: 0;
}

.secciones {
    margin: 100px 0;
    width: 90%;
    margin: auto;
}

article {
    margin-top: 50px;
    border: solid black 5px;
}

.article1 {
    color: white;
    font-size: 2.6rem;
    background: rgb(55, 194, 60);
    padding: 10%;

    border: 5px solid black;
}

.text-article img {
    border: 10px solid black;
}

.article-2 {
    border: 5px solid black;
    position: relative;
}

.relativoDiv {

    color: white;

    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    padding: 4%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #4e162e;
    font-size: 2rem;

    border: solid 5px black;
}

.relativoDiv h1 {
    margin: 0;
}

.relativoDiv p {
    margin: 0;
}

article img {
    border: solid black 5px;
}

.article3 {
    padding: 10%;
    background: #d9005b;
}

.text h1 {
    font-size: 3rem;
    margin: 0;
    width: 100%;
    text-align: center;
}

.article4 {
    padding: 10%;
    background: orangered;

}

@media (min-width: 500px) {
    html {
        font-size: 100%;
    }
}